@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-heading: "Chakra Petch", serif;
  }

  section {
    @apply m-4;
  }
}

@layer components {
  .bg-glass {
    @apply border border-zinc-100/10 bg-zinc-100/10 backdrop-blur;
  }

  input.bg-glass {
    @apply focus:outline-none focus:ring-0 focus:border-zinc-100/20;
  }

  .content {
    @apply bg-zinc-50 border border-zinc-200;
  }

  .bg-pattern {
    @apply bg-zinc-950;
    background-image: url("../asset/pattern.svg");
  }

  table {
    @apply w-full text-sm caption-bottom;

    & tr {
      @apply border-b transition-colors hover:bg-zinc-100;
    }

    & th {
      @apply h-14 px-6 whitespace-nowrap text-left align-middle font-semibold;
    }

    & td {
      @apply truncate px-6 py-4 max-w-80 align-middle;
    }

    & caption {
      @apply mt-4 text-sm text-zinc-200;
    }

    & thead {
      @apply bg-zinc-100;

      & tr {
        @apply border-b;
      }
    }

    & tbody {
      & tr:last-child {
        @apply border-0;
      }
    }

    & tfoot {
      @apply border-t bg-zinc-200/50 font-medium;

      & tr:last {
        @apply border-b-0;
      }
    }
  }
}
